@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@1..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

:root {
  --color-neutral-0: #0e0c0c;
  --color-neutral-10: #171717;
  --color-neutral-30: #a8a29e;
  --color-neutral-40: #f5f5f5;
  --branco: #f1f1f1;
  --logo: "Hepta Slab", serif;
  --teste2: "EB Garamond", serif;
  --fonteitaliana: "Playfair Display", serif;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

header {
  background-color: var(--color-neutral-10);
  color: var(--branco);
  padding: 10px 40px;
}

.nav {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.logo {
  color: var(--branco);
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  font-family: var(--logo);
  padding-left: 3em;
}

.logo > span {
  display: block;
  text-align: center;
  font-size: 18px;
}

.menuebotao {
  display: flex;
  align-items: center;
  gap: 50px;
}

.menu {
  list-style: none;
  display: flex;
  gap: 35px;
  font-family: var(--teste2);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.menu a {
  text-decoration: none;
  color: var(--branco);
  font-size: 19px;
  transition: color 0.6s;
}

.menu a:hover {
  color: rgb(134, 134, 134);
}

.botao-pedido {
  text-decoration: none;
  font-size: 23px;
  color: var(--color-neutral-10);
  background-color: rgb(214, 214, 214);
  padding: 12px 25px;
  box-shadow: 2px 2px 5px var(--color-neutral-10);
  font-family: var(--teste2);
  transition: background-color 0.5s;
}

.botao-pedido:hover {
  background-color: rgb(255, 255, 255);
}

section.hero {
  background-image: url(../imagens/ivan-torres-MQUqbmszGGM-unsplash.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
  height: 100vh;
  color: var(--branco);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 50px;
  font-family: var(--logo);
  font-size: 30px;
  text-align: center;
  text-shadow: 4px 4px 6px rgba(2, 2, 2, 0.7);
}

div.slogan {
  font-size: 30px;
}

div.item a {
  text-decoration: none;
  font-size: 23px;
  color: var(--color-neutral-10);
  background-color: rgb(214, 214, 214);
  padding: 15px 70px;
  box-shadow: 2px 2px 5px var(--color-neutral-10);
  font-family: var(--teste2);
  text-shadow: none;
  transition: background-color 0.6s, color 0.3s, transform 0.6s;
}

div.item:hover {
  transform: scale(1.05);
}

div.item a:hover {
  background-color: rgb(54, 54, 54);
  color: white;
}

div.item2 a {
  text-decoration: none;
  font-size: 23px;
  color: var(--branco);
  background-color: #363636;
  padding: 15px 70px;
  box-shadow: 2px 2px 5px var(--color-neutral-10);
  font-family: var(--teste2);
  text-shadow: none;
  transition: background-color 0.6s, color 0.3s, transform 0.6s;
}

div.item2:hover {
  transform: scale(1.05);
}

div.item2 a:hover {
  background-color: white;
  color: var(--color-neutral-10);
}

div.titulo {
  background-color: var(--color-neutral-10);
  color: var(--branco);
  text-align: center;
  padding: 50px;
  font-family: var(--teste2);
}

section.cardapio {
  height: 800px;
  background-color: var(--color-neutral-10);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 50px;
  padding: 0px 7em 7em 7em;
}

.pizza1 {
  background-image: url(../imagens/pizzacalabresa.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  flex: auto;
  box-shadow: 2px 2px 5px var(--color-neutral-10);
  width: 300px;
  border-radius: 15px;
  overflow: hidden;
}

div.pizza1:hover {
  overlay: black;
}
.pizza2 {
  background-image: url(../imagens/pizzamarguerita.jpg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: cover;
  flex: auto;
  box-shadow: 2px 2px 5px var(--color-neutral-10);
  width: 300px;
  border-radius: 15px;
  overflow: hidden;
}

.pizza3 {
  background-image: url(../imagens/pizza4queijos.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  flex: auto;
  box-shadow: 2px 2px 5px var(--color-neutral-10);
  width: 300px;
  border-radius: 15px;
  overflow: hidden;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  opacity: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  transition: opacity 0.4s ease;
}

.overlay p.titulo {
  color: white;
  font-size: 1.8rem;
  font-weight: bold;
  font-family: var(--teste2);
}

.pizza1:hover .overlay,
.pizza2:hover .overlay,
.pizza3:hover .overlay {
  opacity: 1;
}

.pizza1:hover,
.pizza2:hover,
.pizza3:hover {
  transform: scale(1.05);
  transition: transform 0.4s;
}

.overlay p.descricao {
  color: white;
  font-size: 1rem;
  text-align: center;
  margin-top: 5px;
  font-family: var(--logo);
}

.sobre {
  background-image: url(../imagens/pizzaria1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.imagem2 {
  top: 5%;
  left: 3%;
  width: 500px;
  height: 500px;
  position: absolute;
  box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
  border-radius: 50%;
}

.imagem3 {
  bottom: 5%;
  right: 3%;
  width: 150px;
  width: 500px;
  height: 500px;
  position: absolute;
  box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
  border-radius: 50%;
}

.texto {
  background-color: #363636a6;
  color: #ffffff;
  font-family: var(--teste2);
  font-size: 20px;
  letter-spacing: 0.5;
  padding: 15px;
  position: absolute;
  text-align: justify;
  top: 80%;
  width: 600px;
  height: 15%;
}

.texto:hover,
.imagem2:hover,
.imagem3:hover {
  transform: scale(1.05);
  transition: transform 0.4s ease, border-radius 0.7s ease-in-out;
  border-radius: 0px;
}

.texto:hover {
  background-color: #363636;
  transition: background-color 0.4s ease-in-out;
}

footer{
  width: 100%;
  color: var(--color-neutral-40);
}

.footer_link{
  text-decoration: none;
}

#footer_content{
  background-color: var(--color-neutral-10);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 3rem 3.5rem;
}

#footer_contacts h1{
  margin-bottom: 0.75rem;
}

#footer_social_media{
  display: flex;
  gap: 2rem;
  margin-top: 1.5rem;
}

#footer_social_media .footer_link{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  color: var(--color-neutral-40);
  border-radius: 50%;
  transition: all 0.4s;
}

#footer_social_media .footer_link i{
  font-size: 1.25rem;
}

#footer_social_media .footer_link:hover{
  opacity: 0.8;
}

#instagram{
  background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook{
  background-color: #4267b3;
}

#whatsapp{
  background-color: #25d366;
}

.footer_list{
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  list-style: none;
}

.footer_list p{
  color: var(--color-neutral-30);
}

#footer_subscribe{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

#footer_subscribe p{
  color: var(--color-neutral-30);
}

#input_group{
  display: flex;
  align-items: center;
  background-color: var(--color-neutral-0);
  border-radius: 4px;
}

#input_group input{
  all: unset;
  padding: 0.75rem;
  width: 100%;
}

#input_group button{
  background-color: #7f37c9;
  border: none;
  color: var(--color-neutral-40);
  padding: 0px 1.25rem;
  font-size: 1.125rem;
  height: 100%;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
  transition: all 0.4s;
}

#input_group button:hover{
  opacity: 0.8;
}

#footer_copyright{
  display: flex;
  justify-content: center;
  background-color: var(--color-neutral-0);
  font-size: 0.9rem;
  padding: 1.5rem;
  font-weight: 100;
  color: var(--color-neutral-30);
}

#footer_copyright a{
  text-decoration: none;
  color: var(--color-neutral-30);
  margin-left: 4px;
}

@media screen and (max-width: 600px){
  #footer_content{
    grid-template-columns: repeat(1, 1fr);
    padding: 3rem 2rem;
  }
}

@media screen and (max-width: 992px){
  #footer_content{
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
}
